html {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  font-size: 100%;
}

.container {
  margin: 4rem auto;
  padding: 0;
  max-width: 1640px;
  width: 80%;
}

@media (max-width: 992px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
  .container {
    width: 90% !important;
  }
}
