:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: rgba(217, 217, 217, 0.07);
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --white: #fff;
  --gray: rgba(255, 255, 255, 0.7);
  --font-main: "Space Grotesk", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: url(/images/Bg.jpg) center center/cover no-repeat;
  font-family: "Belgrano", serif;
}
