.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  border: var(--border);
  backdrop-filter: blur(5px);
  background-color: var(--bg);
  border-radius: 10px;
}

.input-container i {
  color: var(--white);
  margin: 0 1rem;
  font-size: 1.4rem;
}

#locationButton:hover {
  color: var(--gray);
  cursor: pointer;
}

#search-btn:hover {
  color: var(--gray);
  cursor: pointer;
}

.search-input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  text-transform: none;
  background: none;
  border: none;
}

.search-input:focus {
  outline: none;
}

.no-gutters {
  margin-right: 0 !important;
}

.weather {
  column-gap: 1.2rem;
}

.writer {
  text-align: center;
  color: var(--white);
  margin-top: 1.5rem;
}

.writer a {
  color: var(--white);
}

.writer a:hover {
  color: var(--main-color);
}

.all-days {
  max-width: 33%;
}

.each-day {
  border: var(--border);
  border-radius: 10px;
  background-color: var(--bg);
  backdrop-filter: blur(5px);
  color: var(--gray);
  padding: 0.5rem;
  font-family: var(--font-main);
  transition: all 0.25s linear;
}

.each-day:hover {
  background-color: rgba(28, 27, 69, 0.8);
}

.forecast-icon {
  height: 3.5rem;
}

.temp-forecast {
  margin-bottom: 0;
  color: var(--white);
}

.date {
  color: var(--white);
  font-weight: 500;
}

.date span {
  color: var(--gray);
}

.weather-forecast-temperature-min {
  color: var(--gray);
}

@media (min-width: 768px) and (max-width: 992px) {
  .all-days {
    max-width: 100%;
    margin: 0.7rem 0 !important;
  }

  .each-day {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    max-width: 110px !important;
  }

  .date {
    text-align: center;
    margin-bottom: 0.2rem;
  }

  .forecast-icon {
    height: 3rem;
    margin-bottom: 0.4rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .all-days {
    max-width: 100%;
    margin: 0.7rem 0 !important;
  }

  .each-day {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    max-width: 80px !important;
  }

  .date {
    text-align: center;
    margin-bottom: 0.2rem;
  }

  .forecast-icon {
    height: 3rem;
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 576px) {
  .all-days {
    max-width: 100%;
    margin: 0.7rem 0 !important;
  }

  .each-day {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    max-width: 77px !important;
  }

  .date {
    text-align: center;
    margin-bottom: 0.2rem;
  }

  .forecast-icon {
    height: 2.8rem;
  }
}
