.general-info {
  border: var(--border);
  border-radius: 10px;
  background-color: var(--bg);
  color: var(--gray);
  width: 100%;
  display: flex;
  padding: 1rem 0;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.city-info {
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 8rem;
  font-family: var(--font-main);
  font-weight: 400;
  line-height: 40px;
}

.current-date {
  display: block;
  color: var(--gray);
  font-size: 1.1rem;
  margin-top: 0.1rem;
}

.weather-image {
  align-self: center;
}

.weather-image img {
  width: 18rem;
}

.detail-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.showWeather {
  display: flex;
}

.weather-info {
  color: var(--white);
  font-size: 5rem;
  font-family: var(--font-main);
  font-weight: 500;
  line-height: 40px;
  display: flex;
  flex-direction: column;
}

.weather-description {
  display: block;
  color: var(--gray);
  font-size: 1.1rem;
  margin-top: 0.9rem;
}

.scale-switcher {
  display: flex;
  background-color: var(--bg);
  width: 12rem;
  height: 7rem;
  border-radius: 8px;
  margin: 0 1.5rem;
  justify-content: center;
  position: relative;
  bottom: 1.1rem;
}

.scale-switcher button {
  font-size: 5rem;
  width: 6rem;
  height: 7rem;
  line-height: 1rem;
  text-align: center;
  border: none;
  border-radius: 8px;
  background: none;
  font-weight: 600;
  color: var(--gray);
}

.scale-switcher button:focus {
  background-color: rgba(255, 255, 255, 0.192);
  color: var(--white);
}

.detail-title {
  border: var(--border);
  border-radius: 10px;
  background-color: var(--bg);
  color: var(--gray);
  padding: 1rem;
  display: flex;
  width: 100%;
  padding: 1rem 1.6rem;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.25s linear;
}

.detail-title:hover {
  background-color: rgba(255, 255, 255, 0.144);
}

.detail-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-main);
}

.detail-name {
  color: var(--white);
  font-size: 1.2rem;
  text-transform: capitalize;
}

.detail-value {
  margin-top: 4.5rem;
  margin-bottom: 0;
  font-size: 1.3rem;
  color: var(--white);
  font-weight: 500;
  line-height: 40px;
}

.detail-icon {
  height: 5.8rem;
  align-self: flex-start;
}
