.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  border: var(--border);
  border-radius: 10px;
}

.input-container i {
  color: var(--white);
  margin: 0 1rem;
  font-size: 1.4rem;
}

#locationButton:hover {
  color: var(--gray);
  cursor: pointer;
}

#search-btn:hover {
  color: var(--gray);
  cursor: pointer;
}

.search-input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  text-transform: none;
  background: none;
  border: none;
}

.search-input:focus {
  outline: none;
}

.weather {
  gap: 0.5rem;
}

.writer {
  text-align: center;
  color: var(--white);
  margin-top: 1.5rem;
}

.writer a {
  color: var(--white);
}

.writer a:hover {
  color: var(--main-color);
}

.all-days {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.7rem;
}

.each-day {
  border: var(--border);
  border-radius: 10px;
  background-color: var(--bg);
  color: var(--gray);
  padding: 0.5rem;
  font-family: var(--font-main);
  transition: all 0.25s linear;
}

.each-day:hover {
  background-color: rgba(255, 255, 255, 0.144);
}

.each-day img {
  height: 3.5rem;
}

.temp-forecast {
  margin-bottom: 0;
  color: var(--white);
}

.date {
  color: var(--white);
  font-weight: 500;
}

.date span {
  color: var(--gray);
}

.weather-forecast-temperature-min {
  color: var(--gray);
}
